@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
.tec{
  background-color: #111111;
}
.tec2 h1{
  margin-top: 90px;
}

.tec2 ul{
  list-style: none;
  display: flex;
  gap: 50px;
  justify-content: center;
  margin:200px 0px 300px 0px ;
  
}

.tec i{
  font-size: 5rem ;
  cursor: pointer;
  transition: .6s;
  position: relative;
}
.bxl-html5.active::after{
  content: " HTML";
  position: absolute;
  font-size: 1rem;
  font-family: Madimi One;
  font-weight: 550;
  right: 20px;
  top: 15px;
  color: rgba(255, 255, 255, 0);
  transition: .5s;

}
.bxl-html5.active:hover::after{
  color: #ffffff;
  top: -13px;
  
}
.bxl-html5.active:hover{
  color: #E44D26;
}



.bxl-css3.active::after{
  content: " CSS";
  position: absolute;
  font-size: 1rem;
  font-family: Madimi One;
  font-weight: 550;
  right: 27px;
  top: 15px;
  color: rgba(255, 255, 255, 0);
  transition: .5s;

}
.bxl-css3.active:hover::after{
  color: #ffffff;
  top: -13px;
  
}
.bxl-css3.active:hover{
  color: #006BC0;
}


.bxl-javascript.active::after{
  content: "JAVASCRIPT";
  position: absolute;
  font-size: 1rem;
  font-family: Madimi One;
  font-weight: 550;
  right: -2px;
  top: 15px;
  color: rgba(255, 255, 255, 0);
  transition: .5s;

}
.bxl-javascript.active:hover::after{
  color: #ffffff;
  top: -13px;
  
}
.bxl-javascript.active:hover{
  color: #F7E018;
}

.bxl-react.active::after{
  content: "REACT";
  position: absolute;
  font-size: 1rem;
  font-family: Madimi One;
  font-weight: 550;
  right: 18px;
  top: 15px;
  color: rgba(255, 255, 255, 0);
  transition: .5s;

}
.bxl-react.active:hover::after{
  color: #ffffff;
  top: -15px;
  
}
.bxl-react.active:hover{
  color: #61DBFB;
}
.bxl-bootstrap.active::after{
  content: "BOOTSTRAP";
  position: absolute;
  font-size: 1rem;
  font-family: Madimi One;
  font-weight: 550;
  right: 0px;
  top: 15px;
  color: rgba(255, 255, 255, 0);
  transition: .5s;

}
.bxl-bootstrap.active:hover::after{
  color: #ffffff;
  top: -15px;
  
}
.bxl-bootstrap.active:hover{
  color: #7511F6;
}



.bxl-git.active::after{
  content: "GIT";
  position: absolute;
  font-size: 1rem;
  font-family: Madimi One;
  font-weight: 550;
  right: 28px;
  top: 15px;
  color: rgba(255, 255, 255, 0);
  transition: .5s;

}
.bxl-git.active:hover::after{
  color: #ffffff;
  top: -15px;
  
}
.bxl-git.active:hover{
  color: #F05030;
}
@media(max-width: 990px){
  .bxl-react.active{
    color: #61DBFB;
  }
  .bxl-react.active::after{
    content: "REACT";
    position: absolute;
    font-size: 1rem;
    font-family: Madimi One;
    font-weight: 550;
    right: 18px;
    top: 15px;
    color: rgba(255, 255, 255, 0);
    transition: .5s;
    color: #ffffff;
    top: -15px;
  }
  .bxl-bootstrap.active::after{
    content: "BOOTSTRAP";
    position: absolute;
    font-size: 1rem;
    font-family: Madimi One;
    font-weight: 550;
    right: 0px;
    top: -15px;
    color: rgb(255, 255, 255);
    transition: .5s;
    
  
  }
  .bxl-bootstrap.active{
    color: #7611F7;
    
  }

  .bxl-html5.active::after{
  content: " HTML";
  position: absolute;
  font-size: 1rem;
  font-family: Madimi One;
  font-weight: 550;
  right: 20px;
  top: 15px;
  color: rgba(255, 255, 255, 0);
  transition: .5s;
  color: #ffffff;
  top: -13px;
  
}
.bxl-html5.active.active{
  color: #E44D26;
}

.bxl-css3.active::after{
  content: " CSS";
  position: absolute;
  font-size: 1rem;
  font-family: Madimi One;
  font-weight: 550;
  right: 27px;
  top: 15px;
  color: rgba(255, 255, 255, 0);
  transition: .5s;
  color: #ffffff;
  top: -13px;
}
.bxl-css3.active{
  color: #006BC0;
}

.bxl-javascript.active::after{
  content: "JAVASCRIPT";
  position: absolute;
  font-size: 1rem;
  font-family: Madimi One;
  font-weight: 550;
  right: -2px;
  top: 15px;
  color: rgba(255, 255, 255, 0);
  transition: .5s;
  color: #ffffff;
  top: -13px;
}
.bxl-javascript.active{
  color: #F7E018;
}

.bxl-git.active::after{
  content: "GIT";
  position: absolute;
  font-size: 1rem;
  font-family: Madimi One;
  font-weight: 550;
  right: 28px;
  top: 15px;
  color: rgba(255, 255, 255, 0);
  transition: .5s;
  color: #ffffff;
  top: -15px;
}
.bxl-git.active{
  color: #F05030;
}

}
@media(max-width: 750px){
  .tec2 ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }

  .bxl-react.active{
    color: #61DBFB;
  }
  .bxl-react.active::after{
    content: "REACT";
    position: absolute;
    font-size: 1rem;
    font-family: Madimi One;
    font-weight: 550;
    right: 18px;
    top: 15px;
    color: rgba(255, 255, 255, 0);
    transition: .5s;
    color: #ffffff;
    top: -15px;
  }
  .bxl-bootstrap.active::after{
    content: "BOOTSTRAP";
    position: absolute;
    font-size: 1rem;
    font-family: Madimi One;
    font-weight: 550;
    right: 0px;
    top: -15px;
    color: rgb(255, 255, 255);
    transition: .5s;
    
  
  }
  .bxl-bootstrap.active{
    color: #7611F7;
    
  }

  .bxl-html5.active::after{
  content: " HTML";
  position: absolute;
  font-size: 1rem;
  font-family: Madimi One;
  font-weight: 550;
  right: 20px;
  top: 15px;
  color: rgba(255, 255, 255, 0);
  transition: .5s;
  color: #ffffff;
  top: -13px;
  
}
.bxl-html5.active{
  color: #E44D26;
}

.bxl-css3.active::after{
  content: " CSS";
  position: absolute;
  font-size: 1rem;
  font-family: Madimi One;
  font-weight: 550;
  right: 27px;
  top: 15px;
  color: rgba(255, 255, 255, 0);
  transition: .5s;
  color: #ffffff;
  top: -13px;
}
.bxl-css3.active{
  color: #006BC0;
}

.bxl-javascript.active::after{
  content: "JAVASCRIPT";
  position: absolute;
  font-size: 1rem;
  font-family: Madimi One;
  font-weight: 550;
  right: -2px;
  top: 15px;
  color: rgba(255, 255, 255, 0);
  transition: .5s;
  color: #ffffff;
  top: -13px;
}
.bxl-javascript.active{
  color: #F7E018;
}
.bxl-git.active::after{
  content: "GIT";
  position: absolute;
  font-size: 1rem;
  font-family: Madimi One;
  font-weight: 550;
  right: 28px;
  top: 15px;
  color: rgba(255, 255, 255, 0);
  transition: .5s;
  color: #ffffff;
  top: -15px;
}
.bxl-git.active{
  color: #F05030;
}
}